.Side-bar
  .Side-bar__user
    .Side-bar__user__top-items
      %h2.Side-bar__user__top-items__name
        = current_user.name

      .Side-bar__user__top-items__icons
        .Side-bar__user__top-items__icons__btn-icon
          = link_to new_group_path(current_user), class: "" do
            = icon('fas','edit')
        .Side-bar__user__top-items__icons__btn-icon
          = link_to edit_user_path(current_user), class: "" do
            = icon('fas','cog')
       
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__group
        = link_to group_messages_path(group) do
          .Side-bar__group-list__group__group-name
            = group.name
          .Side-bar__group-list__group__group-message 
            = group.show_last_message